<!DOCTYPE html>
<html lang="en" data-theme="dracula">

<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EpicTask</title>
</head>

<body class="flex flex-col gap-8">
    <div class="navbar bg-base-100 shadow-sm">
        <div class="flex-1">
          <a class="btn btn-ghost text-xl">EpicTask</a>
        </div>
        <div class="flex gap-2">
          <input type="text" placeholder="Pesquisar" class="input input-bordered w-24 md:w-auto" />
          <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
              <div class="w-10 rounded-full">
                <img
                  alt="Avatar do usuário"
                  th:src="${user.attributes.picture}" />
              </div>
            </div>
            <ul
              tabindex="-1"
              class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
              <li>
                <a class="justify-between" th:text="${user.attributes.email}">
                </a>
              </li>
              <li><a href="/logout">Sair</a></li>
            </ul>
          </div>
        </div>
      </div>

    <a href="/tasks/form" class="btn btn-primary self-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus-icon lucide-plus"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
        Nova tarefa
    </a>

    <div th:if="${message != null}" role="alert" class="alert alert-success alert-soft m-4">
        <span th:text="${message}"></span>
    </div>

    <main class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mx-8">

        <div class="card card-border bg-base-300" th:each="task : ${tasks}">
            <div class="badge badge-accent m-4" th:text="|${task.score} pts|" />
            <div class="card-body items-center">
                <h2 class="card-title" th:text="${task.title}" />
                <p th:text="${task.description}" />
                <div class="radial-progress bg-primary text-primary-content border-primary border-4" style="--value:70;"
                    aria-valuenow="70" role="progressbar" th:text="|${task.status}%|" />
            </div>
            <div class="card-actions justify-end m-4">
                <button class="btn btn-error btn-soft">apagar</button>
            </div>
        </div>
    </main>

</body>

</html>